@import 'general'

.Labels, .Label, .Label-Cell
	border: 1px solid black
	user-select: none

.Label-Cell
	+clickableSquare(15vw, 4vw)
	text-align: center
	&:hover
		background-color: grey

.selected-cell
	background-color: grey
