@import '../general';

.Conditions {
	border: 1px solid black;
	user-select: none;
}

.Condition {
	border: 1px solid black;
	text-align: center;
	@include clickableSquare(15vw, 5vw);
}

.marked-condition {
	background-color: grey;
}
