.Conditions {
	border: 1px solid black;
	user-select: none;
}

.Condition {
	border: 1px solid black;
	text-align: center;
	width: 5vw;
	height: 5vw;
}

.marked-condition {
	background-color: grey;
}
